.login_page {
  height: 100vh;
  width: 100vw;
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;
  position: absolute;
}

.login_page img {
  width: 70%;
}

.login_page__wrapper {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_page p {
  width: 70%;
  color: white;
  text-align: center;
  margin: 25px 0px 0px 0px;
}

.login_page button {
  margin-top: 45px;
}

@media screen and (min-width: 786px) {
  .login_page {
    flex-direction: row;
  }
  #notepad_img,
  .login_page__wrapper {
    width: 45%;
  }
}

@media screen and (min-width: 2000px) {
  #notepad_img,
  .login_page__wrapper {
    width: 40%;
  }
}
