.side-menu {
  background-color: var(--first-color);
  height: 100vh;
  width: 15rem;
  position: absolute;
  margin-left: calc(100% - 15rem);
  margin-top: -0.5rem;
  border-radius: 15px 0px 0px 15px;
  padding: 2rem;
  color: var(--fourth-color);
  transform: translateX(15rem);
  transition: 0.5s;
  z-index: 100;
}

.side-menu .closeBtn {
  margin-left: 10rem;
  margin-top: -2rem;
  cursor: pointer;
}

.side-menu h3 {
  font-size: 1.5rem;
  line-height: 3.5rem;
}

.side-menu h4 {
  line-height: 3rem;
  font-size: 1rem;
}

.side-menu .project-list {
  overflow-y: scroll;
  max-height: 17rem;
}

.side-menu .project-list .link {
  display: flex;
  align-items: center;
}

.side-menu .project-color {
  width: 2rem;
  height: 2rem;
  background-color: coral;
  border-radius: 50%;
  border: solid 2.5px var(--fourth-color);
  margin-right: 0.8rem;
}

.side-menu .log-out_icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.side-menu #log-out {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.side-menu .project-list::-webkit-scrollbar {
  width: 20px;
}
.side-menu .project-list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: solid 6px #4a62e4ff;
}

@media screen and (min-width: 768px) {
  .side-menu {
    margin-left: 0rem;
    transform: translateX(0rem);
    border-radius: 0px;
  }
  .side-menu .closeBtn {
    visibility: hidden;
  }
}
