.project {
  margin: 0rem 2rem 0rem 2rem;
  height: 100vh;
  overflow: scroll;
}

.project::-webkit-scrollbar {
  display: none;
}

.mobile_menu_btn {
  margin-left: calc(100% - 2rem);
  margin-top: 1.5rem;
  height: 2rem;
  width: 2rem;
  color: var(--third-color);
  cursor: pointer;
}

.project h1 {
  margin-bottom: 2rem;
}

.project h1:after {
  content: '';
  display: block;
  width: 50px;
  height: 5px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--second-color);
}

.project__todo-list,
.project__add-todo,
.project__remove-project {
  max-width: 1500px;
}

.project__todo {
  display: flex;
  width: 100%;
  border-bottom: 2px dotted var(--third-color);
  padding: 1rem 0rem;
}

.project p,
.project h4 {
  margin-top: 0.4rem;
  color: var(--third-color);
}

.project p {
  width: calc(100% - 5.5rem);
  word-break: break-all;
}

.dots_ico {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--third-color);
  margin-left: 1rem;
  margin-top: 0.3rem;
}

.project__add-todo {
  width: 100%;
  display: flex;
  padding: 1rem 0rem;
  border-bottom: 2px solid var(--third-color);
  cursor: pointer;
}

.project__plus-icon {
  height: 2.3rem;
  width: 2.3rem;
  margin-left: -0.1rem;
  margin-right: 0.8rem;
  color: var(--fifth-color);
}

.add-todo__input_field{
  max-width: 480px;
}

.project__remove-project {
  display: flex;
  margin: 1rem 0rem;
  cursor: pointer;
}

.project__trash-icon {
  color: var(--third-color);
  margin: 0rem 1rem 0rem 0.2rem;
}

@media screen and (min-width: 768px) {
  .mobile_menu_btn {
    visibility: hidden;
  }
  .project {
    padding-left: 15rem;
  }
}

@media screen and (min-width: 1024px) {
  .project p {
    width: calc(100% - 25rem);
  }
}
