#task_menu_container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transform: translate(-2rem, -3.8rem);
}

#task_menu {
  background-color: var(--first-color);
  width: 320px;
  border-radius: 20px 0px 20px 0px;
  padding: 2rem;
  color: var(--fourth-color);
  overflow: hidden;
}

#task_menu .closeBtn {
  transform: translate(240px, -10px);
  cursor: pointer;
}

#task_menu h2 {
  font-size: 1.8rem;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}

#task_menu_container h4 {
  color: var(--fourth-color);
  margin-bottom: 0.5rem;
}

#task_menu section {
  margin-bottom: 2rem;
}

/* add priority */
#drop_menu {
  position: relative;
}

#drop_menu_top {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  background-color: var(--fourth-color);
}

#drop_menu_top {
  display: flex;
  flex-direction: row;
}

#drop_menu_top p {
  margin: 0;
  color: black;
  width: 95%;
}

#drop_menu p svg {
  color: blue;
  margin-left: 0.5rem;
  transform: translateY(2px);
}

#drop_menu svg {
  color: black;
  transform: translateY(2px);
}

#drop_menu_bottom {
  position: absolute;
  display: none;
  width: 100%;
  background-color: var(--fourth-color);
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  line-height: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#drop_menu_bottom p {
  color: black;
}

/* add deadline */

#deadline {
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  outline: none;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* remove task */

#remove_task_container h4 {
  margin-left: 1rem;
}

#task_menu #remove_task_container {
  display: flex;
  align-items: center;
}
