/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: #4a62e4ff;
  --second-color: #ef865dff;
  --third-color: #666666ff;
  --fourth-color: #ffffffff;
  --fifth-color: #92d18dff;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  word-break: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--fourth-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/

.button {
  background-color: var(--second-color);
  font-weight: 100;
  font-size: 14pt;
  color: var(--fourth-color);
  border: none;
  padding: 15px 45px;
  border-radius: 30px;
}

/*=============== APP COMPONENT ===============*/
