.TaskMenuDesktop{
  margin-left: 1rem
}

/* priority menu */
#drop_menu_desktop{
  position:relative;
}

#drop_menu_top_desktop{
  display: flex;
  align-items: center;
  padding: 10px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  background-color: var(--fourth-color);
}

#drop_menu_top_desktop p{
  margin-top: 0px;
  color: black;
  width: 95%;
}

#drop_menu_top_desktop p svg {
  color: blue;
  margin-left: 0.5rem;
  transform: translateY(2px);
}

#drop_menu_bottom_desktop {
  position: absolute;
  display: none;
  z-index: 100;
  width: 100%;
  background-color: var(--fourth-color);
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  line-height: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#drop_menu_bottom_desktop p{
  width: 100%;
  color: black;
}

#drop_menu_bottom_desktop svg{
  margin-left: 8px;
  transform: translateY(3px);
}
